.cards{
    margin-right: 50px;
    margin-bottom: 50px;
    background: rgba(225, 225, 225, 0.1);
    height:270px ;
    width:250px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
}
.cards img{
    margin-top: 5px;
    margin-bottom: 5px;
    height: 190px;
    width: 220px;
    border-radius: 10px;
}
.cardname{
    height: 70px;
    width: 253px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-shadow: 0px 15px 25px rgba(0,0,0,0.75);
    z-index:1;
    border-bottom-left-radius:15px;
    border-bottom-right-radius:15px;
    
}
.cardtitle{
    text-align: center;
}